.hero-section-container {
    display: flex;
    width: 100%;
    min-height: 500px;
    background-color: white;
    color: #fff;
    margin: 1rem 0;
}

.section-left {
    width: 70%;
    height: 350px;
    padding-left: 345px;
    background-color: #495e57;
    font-family: "Markazi Text", serif;
}
.section-left h1 {
    color: rgb(244, 206, 20);
    font-size: 45px;
    font-weight: 600;
}

.section-left p {
    /* margin: 2rem 0px; */
    font-family: "Karla", sans-serif;
    font-size: 20px;
    color: #fff;
    padding-right: 270px;
}
.section-right {
    height: 350px;
    padding: 60px 0;
    background-color: #495e57;
}

button {
    display: flex;
    align-items: center;
    height: 3rem;
    border-radius: 1.2rem;
    color: rgb(0, 0, 0);
    background-color: rgb(244, 206, 20);
    font-size: 18px;
    font-weight: 700;
    border: none;
    padding: 0px 1.3rem;
}

.section-right img {
    width: 50%;
    height: 350px;
    border-radius: 15px;
    /* margin-top: 2em;
    margin-left: 6em; */
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}
.section-right {
    width: 50%;
}
